[gcode_macro PRINT_END]
#
# PRINT_END
#
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
#
description: End print and tidy up (retract filament, move toolhead, turn off heaters)
gcode:
    STATUS_BUSY
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 40) %}
        {% set z_safe = 40.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS               
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600 ; park nozzle at rear
    M84                            ; disable steppers
    M117 Print Complete.

    {% if printer.configfile.config["bed_mesh"] %}
	BED_MESH_CLEAR
    {% endif %}

    {% if printer['fan_generic exhaust_fan'] %}
    STOP_TEMP_MONITOR
	SET_FAN_SPEED FAN=exhaust_fan SPEED=1.0
	UPDATE_DELAYED_GCODE ID=_DISABLE_EXHAUST DURATION=300
    {% else %}
        M118 No exhaust fan configured
    {% endif %}

    {% if printer['fan_generic cooling_fan'] %}
	SET_FAN_SPEED FAN=cooling_fan SPEED=1.0
	UPDATE_DELAYED_GCODE ID=_DISABLE_COOLING DURATION=300
    {% else %}
        M118 No cooling fan configured
    {% endif %}

    STATUS_READY
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=60
