[gcode_macro RESUME]
#
# RESUME
#
# Resume a paused print
rename_existing: BASE_RESUME
description: Resume a paused print
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
  STATUS_PRINTING
  BASE_RESUME

